body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
  height: 100vh;
}

#map {
  flex: 2;
  height: 100%;
}

#sidebar {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
  background-color: #f9f9f9;
}

#propertyDetails img {
  max-width: 100%;
  margin-top: 10px;
}
#filters {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  z-index: 999;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#filters select {
  margin-right: 10px;
}
